/**
 * _Attachement.scss of pipleline
 * Created by beica on 2019/11/11
 */
.attachments {
  position: absolute;
  border-radius: 4px;
}

.attachment {
  padding: 10px;
  font-size: 12px;
}
