/**
 * _form.scss of pipleline
 * Created by beica on 2019/11/14
 */
.input,
input[type=text],
input[type=date] {
  background: none;
  background: rgba($grey, 0.2);
  padding: 5px;
  border-radius: 4px;

  &[readonly] {
    background: none;
  }
}

input[type=date] {
  padding: 3px 5px;
}

.input {
  display: inline-block;

  input {
    padding: 0;
  }
}

.form-item {
  border: 1px solid transparent;

  &.invalid {
    border-color: $asst;

    input {
      border-color: transparent;
    }
  }
}
