/**
 * _multiselect.scss of pipeline
 * Created by beica on 2020/1/13
 */
.multi-select {
  position: relative;

  input {
    width: 20px !important;
    background: none;
    font-size: 13px;
    padding-left: 1px;
  }

  .selected {
    display: inline-block;
  }

  .choice {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
    padding: 0 5px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: white;
      background: rgba($red, 0.2);
    }
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    min-height: 50px;
    max-height: 200px;
    background: #444;
    overflow-y: auto;
  }

  .option {
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background: $frost;
    }

    &.active {
      color: $blue;
    }
  }
}
