/**
 * _tagSelect.scss of pipleline
 * Created by beica on 2019/11/14
 */
.tag-item {
  display: inline-block;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 12px;

  &.active {
    color: map_get($colors, white);
    background: $blue;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
