/**
 * Panel.scss of pipleline
 * Created by beica on 2019/10/25
 */
.panel {
  padding: 16px;
  border-radius: 4px;
}

.frosted {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 100px;
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.1);
}

.black .frosted {
  background-color: rgba(255, 255, 255, 0.1);
}

